<p style="font-family: Arial; font-size:3.75vw;color:purple; font-style:bold"><br>
pandas Exercise Notebook Solutions
</p><br>

# Exercise Notebook Instructions

### 1. Important: Only modify the cells which instruct you to modify them - leave "do not modify" cells alone.  

The code which tests your responses assumes you have run the startup/read-only code exactly.

### 2. Work through the notebook in order.

Some of the steps depend on previous, so you'll want to move through the notebook in order.

### 3. It is okay to use libraries.

You may find some questions are fairly straightforward to answer using built-in library functions.  That's totally okay - part of the point of these exercises is to familiarize you with the commonly used functions.

### 4. Seek help if stuck

If you get stuck, don't worry!  You can either review the videos/notebooks from this week, ask in the course forums, or look to the solutions for the correct answer.  BUT, be careful about looking to the solutions too quickly.  Struggling to get the right answer is an important part of the learning process.

In [1]:
import pandas as pd
import numpy as np
import os.path

In this exercise notebook you will have the opportunity to load the MovieLens database and perform additional analysis.

First let's load the data into a Pandas Dataframe:

In [2]:
# DO NOT MODIFY

# set here the relative path to the movielens folder
MOVIELENS="./movielens"

movies = pd.read_csv(os.path.join(MOVIELENS, 'movies.csv'), sep=',')
ratings = pd.read_csv(os.path.join(MOVIELENS, 'ratings.csv'), sep=',')

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [9]:
ratings[ratings.movieId == 1].rating.mean()

3.893707794587238

In [10]:
ratings[ratings['movieId']==1]['rating'].mean()

3.893707794587238

In [5]:
import string 

years = [] #list of years as ints
error = 0

for e in range(len(movies.title)):
    try:
        years.append(int(movies.title[e].split()[-1].strip("()" + string.ascii_letters)))
    except:
        years.append(0)
        error += 1
        
print("Error percentage: " + str(round(error/len(movies.title) * 100, 3)) + " %")
movies["year"] = years

movies.head()

Error percentage: 0.641 %

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

## Exercise 1: Find the Minimum Rating

Let's start by computing the minimum rating.

In the next cell, define the `min_rating` variable to be the minimum rating across all of the DataFrame:

In [6]:
min_rating = None
min_rating = ratings['rating'].min()

In [7]:
# DO NOT MODIFY

assert isinstance(min_rating, float), "Try again, make sure you are taking the min of just 1 column"
assert abs(min_rating - 0.5) < .01, "Try again, the minimum should be 0.5"

## Exercise 2: Find the Mean Rating of a Movie

The movie **Toy Story** has `movieId` 1. Find out the mean rating for Toy Story. For this exercise you just need to use the `ratings` DataFrame:

In [14]:
toy_story_rating = None
toy_story_rating = ratings[ratings['movieId']==1]['rating'].mean()

In [15]:
assert abs(toy_story_rating - 3.89) < 0.01, "Try again, select only the rows where the movieId is equal to 1"

## Exercise 3: Find the Most Common Rating

Next, find which rating is the most common.

In [20]:
rating_counts_mode = None
### BEGIN SOLUTION
rating_counts_mode = ratings['rating'].mode()[0]
### END SOLUTION
print(rating_counts_mode)

4.0

In [21]:
# DO NOT MODIFY

assert rating_counts_mode == 4.0, "Print out rating_counts and try to understand what is wrong"

## Exercise 4: Usage of the Index in pandas

In `numpy` the way to point to a specific entry in an array is by using its integer position. In `pandas` you can do the same with `iloc`, but you also have the option of defining a column in a DataFrame as an `index` and refer to rows using `index` labels instead of integer locations using `loc`.

For example in `rating_counts` defined above, the rating is the `index`, so we can reference a value either by its position or by its rating.

For example we can reference the 4th record either with `iloc` and its position or with `loc` and its label:

In [22]:
rating_counts = None
rating_counts = ratings['rating'].value_counts()
rating_counts.iloc[3]

3177318

In [23]:
rating_counts.loc[3.5]

3177318

## Exercise 5: Set an Index for the Movies DataFrame

Movies have one column `movieId` that is a natural way of uniquely identifying each row, when that is the case, it is useful to turn that into an index.

In [24]:
movies = movies.set_index("movieId")

In [26]:
movies.head()

,title,genres,year
movieId,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
2,Jumanji (1995),Adventure|Children|Fantasy,1995
3,Grumpier Old Men (1995),Comedy|Romance,1995
4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
5,Father of the Bride Part II (1995),Comedy,1995

Ratings instead do not have a row identifier, both `userId` and `movieId` reference records in other dataframes, therefore there is no good candidate for an index so we can just leave the default integer indexing.

## Exercise 6: Year with Maximum Standard Deviation in the Rating

First assignment is to find which year has the maximum standard deviation in the rating, **not** the maximum value of the standard deviation, but the year when it occurs.
You can use the `idxmax` method, look at its documentation on the pandas website, https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.idxmax.html

First we want to convert the timestamp into a datetime object:

In [27]:
# DO NOT MODIFY

ratings['parsed_time'] = pd.to_datetime(ratings['timestamp'], unit='s')

We can then access to datetime related fields through `dt`, for example:

In [28]:
ratings.parsed_time.dt.month.head()

0    5
1    5
2    5
3    5
4    5
Name: parsed_time, dtype: int64

In [29]:
def find_year_with_max_std(ratings):
    """Function to find the year with the larger standard deviation in rating"""
    ### BEGIN SOLUTION
    return ratings.rating.groupby(ratings.parsed_time.dt.year).std().idxmax()
    ### END SOLUTION

In [30]:
assert find_year_with_max_std(ratings) == 1995, "Wrong year identified, try again!"

## Advanced Exercise 1: Identify Popular Movies

*In the rest of the notebook, we will introduce new concepts not covered in class, this will challenge you to read additional pandas documentation.*

First we would like only to consider movies that have a significant number of ratings. This task is complicated by the fact that movies and ratings are in 2 different DataFrames and we want to filter the `movies` DataFrame based on a statistics on the `ratings` DataFrame.

First let's compute the number of ratings per movie:

In [31]:
number_of_ratings = ratings.movieId.value_counts()

In [32]:
number_of_ratings.head()

356     81491
318     81482
296     79672
593     74127
2571    72674
Name: movieId, dtype: int64

Now we want to filter this pandas Series object and keep only the rows where the count is larger or equal to 100.
We don't want to pollute our analysis with movies with a tiny number of reviews:

In [33]:
number_of_ratings_of_popular_movies = None
### BEGIN SOLUTION
number_of_ratings_of_popular_movies = number_of_ratings[number_of_ratings>=100]
### END SOLUTION

In [34]:
assert len(number_of_ratings_of_popular_movies) == 10326, "Try again, check that movies with 100 ratings are accepted"

Finally we want to use the `reindex` function to change the index of movies, this will create a new DataFrame with a new index that contains the movieId of only the most popular movies.

The value of all the rows of `movies` that have the same movieId will be copied over to the new `popular_movies` dataset, the rest will be discarded.

In [35]:
all_popular_movies = movies.reindex(number_of_ratings_of_popular_movies.index)

In [36]:
### Note: This will not format correctly without having run code from above
###       So if this looks odd, rerun the notebook up until here and run again
all_popular_movies.head(10)

,title,genres,year
356,Forrest Gump (1994),Comedy|Drama|Romance|War,1994
318,"Shawshank Redemption, The (1994)",Crime|Drama,1994
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1994
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,1991
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,1999
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,1977
480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,1993
527,Schindler's List (1993),Drama|War,1993
110,Braveheart (1995),Action|Drama|War,1995
2959,Fight Club (1999),Action|Crime|Drama|Thriller,1999

## Advanced Exercise 2: Data Cleaning

Everytime we perform a reindexing operation, `pandas` will create a row for every value of the new index, even if it doesn't exist in the original data structure, and it will mark those data as missing with `NaN` (Not A Number).

Always check if reindexing generated invalid data:

In [37]:
all_popular_movies.isnull().sum()

title     0
genres    0
year      0
dtype: int64

In the exercise above, we indexed the dataset with a list of matching values. Because of this our dataset does not have any `NaN`'s. This next exercise will be an example of what to do if this did happen! 

Go ahead and make a copy of the "number_of_ratings_of_popular_movies.index" from above and call it "fake_ratings_popular_movies_indices".

In [38]:
fake_ratings_popular_movies_indices = None
### BEGIN SOLUTION
fake_ratings_popular_movies_indices = number_of_ratings_of_popular_movies.index.copy()
###END SOLUTION
fake_ratings_popular_movies_indices[0]

356

Now if we try to modify these fake ratings we're going to run into a problem!!

In [39]:
fake_ratings_popular_movies_indices[0] = 2 #### The error is expected

TypeError: Index does not support mutable operations

Now we can see that certain sets in pandas are **Immutable**. This just means we can't make any changes to it, so we'll instead do things the wrong way for the rest of this exercise. (Just advanced exercise 2)

In [40]:
### This is wrong code, just used for this example!
fake_ratings_popular_movies_indices = number_of_ratings_of_popular_movies
fake_popular_movies_ds = movies.reindex(fake_ratings_popular_movies_indices)
fake_popular_movies_ds.head()

                                  title         genres    year
movieId
81491                               NaN            NaN     NaN
81482                               NaN            NaN     NaN
79672                               NaN            NaN     NaN
74127    Shriek of the Mutilated (1974)         Horror  1974.0
72674           True Heart Susie (1919)  Drama|Romance  1919.0

In the next cell we want to drop the invalid data, look for a `pandas` function that performs that operation (it starts with "drop"!).

In [41]:
popular_fake_movies = None
### BEGIN SOLUTION
popular_fake_movies = fake_popular_movies_ds.dropna()
### END SOLUTION

In [42]:
assert len(popular_fake_movies) == 9435, "Try again, check the documentation of the function you used"

## Advanced Exercise 3: Filter by Genre

Okay now we're back to our real data! Let's implement a general function that filters movies by genres:

In [43]:
def filter_by_genre(input_movies, genre):
    """Return only movies of a specific genre"""
    ### BEGIN SOLUTION
    return input_movies[input_movies['genres'].str.contains(genre)]
    ### END SOLUTION

Then let's apply it to the `popular_movies` dataset to retain only the "Fantasy" movies:

In [46]:
fantasy_movies = filter_by_genre(all_popular_movies, "Fantasy")
fantasy_movies

,title,genres,year
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,2001
5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy,2002
7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy,2003
4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...,2001
...,...,...,...
80748,Alice in Wonderland (1933),Adventure|Children|Fantasy,1933
65588,"Gamers, The: Dorkness Rising (2008)",Action|Adventure|Comedy|Fantasy,2008
148775,Wizards of Waverly Place: The Movie (2009),Adventure|Children|Comedy|Drama|Fantasy|Sci-Fi,2009
100882,Journey to the West: Conquering the Demons (Da...,Adventure|Comedy|Fantasy|Romance|IMAX,2013
130510,Berserk: The Golden Age Arc 3 - Descent (2013),Action|Animation|Fantasy,2013

In [47]:
assert len(fantasy_movies) == 742, """Try again, Make sure you are filtering the popular movies"""

## Advanced Exercise 4: Join Movies and Ratings

Let's create a single `DataFrame` that contains both titles and mean ratings of the popular fantasy movies.

Titles are only available in the `movies` `DataFrame`, while ratings in the `ratings` `DataFrame`, we would like to create a single DataFrame that includes Title.

Create the `mean_ratings` variable by computing the mean rating for each movie:

In [50]:
mean_ratings = None
### BEGIN SOLUTION
mean_ratings = ratings.rating.groupby(ratings.movieId).mean()
### END SOLUTION

In this case we don't even need to use a join operation, we can just create a new column in the `fantasy_movies` DataFrame. This will automatically match the index of `mean_ratings` with the index of `fantasy_movies` and attach to each movie its rating. Ratings for movies that are not in the `fantasy_movies` DataFrame are discarded.

The recommended way of creating columns in the recent versions of `pandas` is through the `assign` function, read its documentation!

In [51]:
fantasy_movies.assign?

Signature: fantasy_movies.assign(**kwargs) -> 'DataFrame'
Docstring:
Assign new columns to a DataFrame.

Returns a new object with all original columns in addition to new ones.
Existing columns that are re-assigned will be overwritten.

Parameters
----------
**kwargs : dict of {str: callable or Series}
    The column names are keywords. If the values are
    callable, they are computed on the DataFrame and
    assigned to the new columns. The callable must not
    change input DataFrame (though pandas doesn't check it).
    If the values are not callable, (e.g. a Series, scalar, or array),
    they are simply assigned.

Returns
-------
DataFrame
    A new DataFrame with the new columns in addition to
    all the existing columns.

Notes
-----
Assigning multiple columns within the same ``assign`` is possible.
Later items in '\*\*kwargs' may refer to newly created or modified
columns in 'df'; items are computed and assigned into 'df' in order.

.. versionchanged:: 0.23.0

   Keyword argument order is maintained.

Examples
--------
>>> df = pd.DataFrame({'temp_c': [17.0, 25.0]},
...                   index=['Portland', 'Berkeley'])
>>> df
          temp_c
Portland    17.0
Berkeley    25.0

Where the value is a callable, evaluated on `df`:

>>> df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32)
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

Alternatively, the same behavior can be achieved by directly
referencing an existing Series or sequence:

>>> df.assign(temp_f=df['temp_c'] * 9 / 5 + 32)
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

You can create multiple columns within the same assign where one
of the columns depends on another one defined within the same assign:

>>> df.assign(temp_f=lambda x: x['temp_c'] * 9 / 5 + 32,
...           temp_k=lambda x: (x['temp_f'] +  459.67) * 5 / 9)
          temp_c  temp_f  temp_k
Portland    17.0    62.6  290.15
Berkeley    25.0    77.0  298.15
File:      d:\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      method

In [52]:
fantasy_movies_with_ratings = fantasy_movies.assign(rating = mean_ratings)

In [53]:
fantasy_movies_with_ratings.head()

,title,genres,year,rating
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,3.893708
4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,2001,4.091189
5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy,2002,4.068051
7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy,2003,4.090340
4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...,2001,3.754828

In [54]:
assert fantasy_movies_with_ratings.loc[7164].title.startswith("Peter"), "Try again, missing or wrong title"

In [55]:
assert abs(fantasy_movies_with_ratings.loc[7164].rating - 3.39) < 0.01 , "Try again, missing or wrong rating"

## Advanced Exercise 5: Find the Highest Rated Fantasy Movie

Again we need to find the index where a column is max, in this case rating:

In [66]:
index_of_max_rating = None
### BEGIN SOLUTION
index_of_max_rating = fantasy_movies_with_ratings.rating.idxmax()
### END SOLUTION

In [67]:
highest_rated_fantasy_movie = fantasy_movies_with_ratings.loc[index_of_max_rating]

In [68]:
assert highest_rated_fantasy_movie.title.startswith("Spirited"), "Try again"