<a href="https://colab.research.google.com/github/javier-jaime/Tool-Crib/blob/master/Colab/Mexico_Municipal_Crime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [142]:
# Import Libraries

import pandas as pd
from geopy.geocoders import Nominatim
from google.colab import drive
from google.colab import files

In [143]:
# Mount Google Drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).


Original Dataset from Mexico Government here:

https://www.gob.mx/sesnsp/acciones-y-programas/incidencia-delictiva-del-fuero-comun-nueva-metodologia

In [144]:
# Read dataset from csv in Google Drive to Pandas Data Frame
muni_crime_df = pd.read_csv('drive/MyDrive/Colab Data/Municipal_to_Mar_2022.csv', encoding='latin-1')
print(muni_crime_df.shape)
muni_crime_df.head()

(1832404, 21)

,Año,Clave_Ent,Entidad,Cve. Municipio,Municipio,Bien jurídico afectado,Tipo de delito,Subtipo de delito,Modalidad,Enero,...,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015,1,Aguascalientes,1001,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,2,...,1,1.0,0.0,1.0,1.0,0.0,2.0,1.0,0.0,1.0
1,2015,1,Aguascalientes,1001,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,1,...,0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2015,1,Aguascalientes,1001,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,0,...,1,1.0,3.0,2.0,0.0,1.0,2.0,0.0,0.0,0.0
3,2015,1,Aguascalientes,1001,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,No especificado,1,...,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015,1,Aguascalientes,1001,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio culposo,Con arma de fuego,0,...,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [145]:
# Fill Empty/NA cells with zeros
muni_crime_df = muni_crime_df.fillna(0)
muni_crime_df.isnull().any()

Año                       False
Clave_Ent                 False
Entidad                   False
Cve. Municipio            False
Municipio                 False
Bien jurídico afectado    False
Tipo de delito            False
Subtipo de delito         False
Modalidad                 False
Enero                     False
Febrero                   False
Marzo                     False
Abril                     False
Mayo                      False
Junio                     False
Julio                     False
Agosto                    False
Septiembre                False
Octubre                   False
Noviembre                 False
Diciembre                 False
dtype: bool

In [146]:
# Count of Unique Crime types
muni_crime_df['Tipo de delito'].value_counts()

Robo                                                                             673128
Homicidio                                                                        168282
Lesiones                                                                         168282
Secuestro                                                                         93490
Feminicidio                                                                       74792
Narcomenudeo                                                                      18698
Violencia de género en todas sus modalidades distinta a la violencia familiar     18698
Incumplimiento de obligaciones de asistencia familiar                             18698
Otros delitos contra la familia                                                   18698
Corrupción de menores                                                             18698
Trata de personas                                                                 18698
Otros delitos contra la sociedad                                                  18698
Amenazas                                                                          18698
Otros delitos contra el patrimonio                                                18698
Allanamiento de morada                                                            18698
Evasión de presos                                                                 18698
Falsedad                                                                          18698
Falsificación                                                                     18698
Contra el medio ambiente                                                          18698
Delitos cometidos por servidores públicos                                         18698
Electorales                                                                       18698
Violencia familiar                                                                18698
Daño a la propiedad                                                               18698
Despojo                                                                           18698
Acoso sexual                                                                      18698
Aborto                                                                            18698
Otros delitos que atentan contra la vida y la integridad corporal                 18698
Tráfico de menores                                                                18698
Rapto                                                                             18698
Otros delitos que atentan contra la libertad personal                             18698
Abuso sexual                                                                      18698
Hostigamiento sexual                                                              18698
Extorsión                                                                         18698
Violación simple                                                                  18698
Violación equiparada                                                              18698
Incesto                                                                           18698
Otros delitos que atentan contra la libertad y la seguridad sexual                18698
Fraude                                                                            18698
Abuso de confianza                                                                18698
Otros delitos del Fuero Común                                                     18698
Name: Tipo de delito, dtype: int64

In [148]:
# Count Unique Crime sub-types
muni_crime_df['Subtipo de delito'].value_counts()

Robo de maquinaria                                                               112188
Robo de vehículo automotor                                                       112188
Lesiones culposas                                                                 93490
Secuestro                                                                         93490
Homicidio culposo                                                                 93490
Homicidio doloso                                                                  74792
Lesiones dolosas                                                                  74792
Feminicidio                                                                       74792
Robo en transporte público individual                                             37396
Robo a transportista                                                              37396
Robo a transeúnte en vía pública                                                  37396
Robo a transeúnte en espacio abierto al público                                   37396
Robo a negocio                                                                    37396
Robo en transporte público colectivo                                              37396
Robo en transporte individual                                                     37396
Robo de ganado                                                                    37396
Otros robos                                                                       37396
Robo de autopartes                                                                37396
Robo a institución bancaria                                                       37396
Robo a casa habitación                                                            37396
Otros delitos que atentan contra la libertad y la seguridad sexual                18698
Violencia de género en todas sus modalidades distinta a la violencia familiar     18698
Incumplimiento de obligaciones de asistencia familiar                             18698
Otros delitos contra la familia                                                   18698
Corrupción de menores                                                             18698
Trata de personas                                                                 18698
Otros delitos contra la sociedad                                                  18698
Narcomenudeo                                                                      18698
Amenazas                                                                          18698
Allanamiento de morada                                                            18698
Evasión de presos                                                                 18698
Falsedad                                                                          18698
Falsificación                                                                     18698
Contra el medio ambiente                                                          18698
Delitos cometidos por servidores públicos                                         18698
Electorales                                                                       18698
Violencia familiar                                                                18698
Otros delitos contra el patrimonio                                                18698
Despojo                                                                           18698
Otros delitos que atentan contra la libertad personal                             18698
Incesto                                                                           18698
Violación equiparada                                                              18698
Violación simple                                                                  18698
Hostigamiento sexual                                                              18698
Acoso sexual                                                                      18698
Abuso sexual                                                                      18698
Rapto                                                                             18698
Daño a la propiedad                                                               18698
Tráfico de menores                                                                18698
Otros delitos que atentan contra la vida y la integridad corporal                 18698
Aborto                                                                            18698
Fraude                                                                            18698
Abuso de confianza                                                                18698
Extorsión                                                                         18698
Otros delitos del Fuero Común                                                     18698
Name: Subtipo de delito, dtype: int64

In [150]:
# Group murders per State per Year
murders = muni_crime_df[muni_crime_df['Tipo de delito'] == 'Homicidio'].drop(['Clave_Ent', 'Cve. Municipio'], axis=1) 
murders_per_state = murders.groupby(['Año','Entidad']).mean().round(decimals=2)
murders_per_state

                                      Enero  Febrero  Marzo  Abril  Mayo  \
Año  Entidad
2015 Aguascalientes                    0.22     0.20   0.14   0.21  0.18
     Baja California                   1.67     1.84   1.93   2.09  2.07
     Baja California Sur               0.44     0.24   0.24   0.49  0.40
     Campeche                          0.13     0.07   0.18   0.10  0.10
     Chiapas                           0.12     0.14   0.14   0.15  0.13
...                                     ...      ...    ...    ...   ...
2022 Tamaulipas                        0.26     0.20   0.26   0.00  0.00
     Tlaxcala                          0.01     0.04   0.02   0.00  0.00
     Veracruz de Ignacio de la Llave   0.08     0.07   0.10   0.00  0.00
     Yucatán                           0.02     0.02   0.02   0.00  0.00
     Zacatecas                         0.25     0.15   0.23   0.00  0.00

                                      Junio  Julio  Agosto  Septiembre  \
Año  Entidad
2015 Aguascalientes                    0.16   0.16    0.14        0.27
     Baja California                   2.36   2.51    2.53        2.67
     Baja California Sur               0.38   0.38    0.62        0.71
     Campeche                          0.13   0.02    0.09        0.08
     Chiapas                           0.11   0.11    0.12        0.11
...                                     ...    ...     ...         ...
2022 Tamaulipas                        0.00   0.00    0.00        0.00
     Tlaxcala                          0.00   0.00    0.00        0.00
     Veracruz de Ignacio de la Llave   0.00   0.00    0.00        0.00
     Yucatán                           0.00   0.00    0.00        0.00
     Zacatecas                         0.00   0.00    0.00        0.00

                                      Octubre  Noviembre  Diciembre
Año  Entidad
2015 Aguascalientes                      0.16       0.09       0.18
     Baja California                     2.44       2.62       2.36
     Baja California Sur                 0.20       0.22       0.13
     Campeche                            0.10       0.06       0.12
     Chiapas                             0.12       0.10       0.11
...                                       ...        ...        ...
2022 Tamaulipas                          0.00       0.00       0.00
     Tlaxcala                            0.00       0.00       0.00
     Veracruz de Ignacio de la Llave     0.00       0.00       0.00
     Yucatán                             0.00       0.00       0.00
     Zacatecas                           0.00       0.00       0.00

[256 rows x 12 columns]

In [151]:
# Count Unique Municipalities
muni_crime_df['Municipio'].value_counts()

Benito Juárez            5488
Ocampo                   4704
Emiliano Zapata          4410
Hidalgo                  3920
No Especificado          3920
                         ...
San Quintín               196
Seybaplaya                196
Dzitbalché                196
Honduras de la Sierra     196
Coatetelco                196
Name: Municipio, Length: 2331, dtype: int64

In [152]:
# Drop Non Specified and Other Municipalities 
muni_crime_df.drop(muni_crime_df[muni_crime_df['Municipio'] == 'No Especificado'].index, inplace = True)
muni_crime_df.drop(muni_crime_df[muni_crime_df['Municipio'] == 'Otros Municipios'].index, inplace = True)

# Replace long names Municipalities with shorter names 
muni_crime_df['Municipio'].replace('Rincón Chamula San Pedro','Rincón Chamula', inplace=True)
muni_crime_df['Municipio'].replace('Batopilas de Manuel Gómez Morín','Batopilas', inplace=True)
muni_crime_df['Municipio'].replace('Jonacatepec de Leandro Valle','Jonacatepec', inplace=True)
muni_crime_df['Municipio'].replace('Heroica Villa Tezoatlán de Segura y Luna, Cuna de la Independencia de Oaxaca','Tezoatlán', inplace=True)
muni_crime_df['Municipio'].replace('San Juan Mixtepec Distrito 08','San Juan Mixtepec', inplace=True)
muni_crime_df['Municipio'].replace('San Juan Mixtepec Distrito 26','San Juan Mixtepec', inplace=True)
muni_crime_df['Municipio'].replace('San Pedro Mixtepec Distrito 22','San Pedro Mixtepec', inplace=True)
muni_crime_df['Municipio'].replace('San Pedro Mixtepec Distrito 26','San Pedro Mixtepec', inplace=True)

In [153]:
# Create a Municipalities Table
munis = muni_crime_df.groupby(['Entidad','Municipio']).size().reset_index(name='Freq')
munis

             Entidad              Municipio  Freq
0     Aguascalientes         Aguascalientes   784
1     Aguascalientes               Asientos   784
2     Aguascalientes               Calvillo   784
3     Aguascalientes                  Cosío   784
4     Aguascalientes               El Llano   784
...              ...                    ...   ...
2464       Zacatecas  Villa González Ortega   784
2465       Zacatecas          Villa Hidalgo   784
2466       Zacatecas           Villa de Cos   784
2467       Zacatecas             Villanueva   784
2468       Zacatecas              Zacatecas   784

[2469 rows x 3 columns]

In [126]:
# Convert an address (Entidad, Municipio) into latitude and longitude values
address = input('Enter Adress/City, Province/State and/or Country: ')

geolocator = Nominatim(user_agent="mexico_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of {} are {}, {}.'.format(address, latitude, longitude))

Enter Adress/City, Province/State and/or Country: 64 Healy Drive, Calgary
The geograpical coordinate of 64 Healy Drive, Calgary are 50.97860335, -114.07820984416779.

In [ ]:
# Geo locate Municipalities
geolocator = Nominatim(user_agent="mexico_explorer")
Lat = []
Lon = []

for i in range(len(munis)):
  location = geolocator.geocode(munis['Municipio'][i]+', '+munis['Entidad'][i])
  # print('The geograpical coordinate of {} are {}, {}.'.format(i, latitude, longitude))
  Lat.append(location.latitude)
  Lon.append(location.longitude)

munis['Latitude'] = Lat
munis['Longitude'] = Lon

In [140]:
# Export Crime and location data back to Google Drive
muni_crime_df.to_csv('Municipal_Crime.csv', encoding='latin-1')
!cp Municipal_Crime.csv "/content/drive/My Drive/Colab Data/"
munis.to_csv('Municipalities_Location.csv', encoding='latin-1')
!cp Municipalities_Location.csv "/content/drive/My Drive/Colab Data/"